*{
     padding: 0;
    margin: 0; 
}    

   body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(46,226,255);
    background: linear-gradient(90deg, rgba(46,226,255,1) 0%, rgba(255,78,162,1) 100%);
    /* background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
   
   .container{
    position: relative;
    display: block;
    width: 500px;
    background: #fff;
    /* here the center temp converter box created */
    padding: 40px 25px; 
    border-radius: 4px;   
   }

   .converter{
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
   }

   .converter .column{
    display: block;
   }

   .container .converter input{
    width: auto;
    /* below padding is the reason that the select option (celsius,fahrenheit) box came below the input field */
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: 161616;
    border: 1px solid #c4c3c3;
    border-radius: 4px; 
   
    
   }
   .container .converter select{
    /* with this the select box match to the input field box size */
    width: 65%;
   
    /* with this margin it gives space between input filed and select box */
    margin: 5px 0;

    /* padding gives needed box size */
    padding: 5px 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #161616;
    border: 1px solid #c4c3c3;
    border-radius: 4px;
   }

   .converter input:focus,
   .converter select:focus{
    outline: 0;
    border: 1px solid #255ff4;
   }

   .converter .column i{
    align-items: center;
    font-size: 32px;
   }

